@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body {
    background-color: rgb(228, 226, 226);
    font-family: 'Source Sans Pro';
}
.newspaper-container {
    top: 6em;
    bottom: 4em;
    padding: 2.5em;
    margin:auto;
    width: 700px;
    border-radius: 1em;
    box-shadow: 10px 10px 3px #ddd;
    background-color: white;
}
header {
    font-family: 'Abril Fatface';
}
.date{
    color:#777;
    font-weight: lighter;
}
header h1 {
    text-align: center;
    font-weight: bolder;
}
nav {
    position: sticky;
    top: 0px;
}
nav ul {
    bottom: 1em;
    height: 1.5em;
    width: 700px;
    margin:auto;
    border: 1em #eee;
    list-style-type: none;
    font-size: small;
    background-color: white;
}
nav a:link{
    text-decoration: none;
    color: #777;
}
nav a:visited{
    text-decoration: none;
    color: #777;
}
li {
   padding: 0.33em;
   display: inline-block; 
}
main {
    width: 600px;
    text-align: left;
}
main h5{
    color: #dd3232;
    text-align: left;
}
main h2{
    font-family: 'Roboto Slab';
    text-align: left;
}
.more-articles{
    display: inline-block;
    padding-top: 3em;
}
.article-2 {
    width: 325px;
    text-align: left;
    display: inline-block;
}
.article-3 {
    width: 325px;
    text-align: left;
    display: inline-block;
}
.article-2 h4{
    font-family: 'Roboto Slab'
}
.article-3 h4{
    font-family: 'Roboto Slab'
}

